:root {
  --corner-radius: 10px;

  --h: 0;
  --s: 0;
  --l: 0;
  --a: 1;
  --hsla: hsla(var(--h),var(--s),var(--l),var(--a));

  --gap: 1rem;

  --internal-padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  block-size: 100vh;
  overflow: hidden scroll;
}

@supports (block-size: 100dvb) {
  body {
    block-size: 100dvb;
  }
}

@supports (overflow-block: scroll) and (overflow-inline: hidden) {
  body {
    overflow-block: scroll;
    overflow-inline: hidden;
  }
}

#app {
  position: relative;
  isolation: isolate;
  block-size: inherit;
  display: grid;
  place-items: center;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

img {
  display: block;
}

.img-responsive {
  max-inline-size: 100%;
  block-size: auto;
}

.background img {
  object-fit: cover;
  object-position: center;
}

@media (orientation: portrait) {
  .background img {
    block-size: 100vh;
  }

  @supports (block-size: 100dvb) {
    .background img {
      block-size: 100dvb;
    }
  }
}

.sun-time-progress {
  inline-size: 250px;
  overflow: visible;
  position: relative;
  isolation: isolate;
}

.chart circle {
  stroke-width: 5px;
  stroke: hsl(46,92%,58%);
  stroke-dasharray: 2.5 12;
}

.weather-dashboard {
  display: grid;
  grid-template-areas: 
    "now now air sun-time"
    "now now week week";
  gap: var(--gap);
}

.widget {
  --h: 243;
  --s: 53%;
  --l: 61%;
  --hsla: hsla(var(--h), var(--s), var(--l), var(--a));
  border-radius: var(--corner-radius);
  background-color: var(--hsla);
}

[data-widget-type="temperature-now"] {
  grid-area: now;
  position: relative;
  isolation: isolate;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

[data-widget-type="temperature-now"] > .weather-now {
  position: absolute;
  inset: -56px auto auto -64px;
}

[data-widget-type="temperature-now"] > .location {
  --gap: .25rem;
  --internal-padding: .75rem;

  display: flex;
  align-items: center;
  position: absolute;
  inset: 0 0 auto auto;
  margin: 2rem 2rem 0 0;
  padding: var(--internal-padding);
}

[data-widget-type="temperature-now"] > .temperature {
  --gap: .25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

[data-widget-type="temperature-now"] > .statistics {
  --gap: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-widget-type="temperature-now"] .widget {
  --s: 48%;
  --l: 58%;
  --a: 60%;
  --corner-radius: 6px;
  --gap: .75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--internal-padding) * 0.75) var(--internal-padding);
}

[data-widget-type="temperature-now"] .widget .widget-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-widget-type="temperature-now"] [data-widget-type="wind"] .value::after {
  content: "km/h";
}

[data-widget-type="temperature-now"] [data-widget-type="humidity"] .value::after {
  content: "%";
}

[data-widget-type="temperature-now"] [data-widget-type="rain"] .value::after {
  content: "%";
}

[data-widget-type="air-quality"] {
  grid-area: air;
}

[data-widget-type="sun-time"] {
  grid-area: sun-time;
}

[data-widget-type="week-weather"] {
  grid-area: week;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.weather {
  --gap: calc(var(--gap) / 2);

  display: flex;
  flex-direction: column;
  align-items: center;
}



