*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  block-size: 100vh;
  overflow: hidden scroll;
}

@supports (block-size: 100dvb) {
  body {
    block-size: 100dvb;
  }
}

@supports (overflow-block: scroll) and (overflow-inline: hidden) {
  body {
    overflow-block: scroll;
    overflow-inline: hidden;
  }
}

#app {
  position: relative;
  isolation: isolate;
  block-size: inherit;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

img {
  display: block;
}

.img-responsive {
  max-inline-size: 100%;
  block-size: auto;
}

.background img {
  object-fit: cover;
  object-position: center;
}

@media (orientation: portrait) {
  .background img {
    block-size: 100vh;
  }

  @supports (block-size: 100dvb) {
    .background img {
      block-size: 100dvb;
    }
  }
}



.sun-time-progress {
  inline-size: 250px;
  overflow: visible;
  position: relative;
  isolation: isolate;
}

.chart circle {
  stroke-width: 5px;
  stroke: hsl(46,92%,58%);
  stroke-dasharray: 2.5 12;
}