@use "../sass-utils/variables" as var;

.keyboard {
    flex: 1;
    display: grid;
    grid-template-areas:
        "CE C percent divide"
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "plus-minus zero comma equals";
    gap: 0.75rem;
    inline-size: 100%;

}
