@use "../sass-utils/variables" as var;

.keyboard {
    flex: 1;
    display: grid;
    grid-template-areas:
        "CE C percent divide"
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "plus-minus zero comma equals";
    gap: 0.75rem;
    inline-size: 100%;

    button {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 999px;
        aspect-ratio: 1;
        inline-size: 4rem;
        color: var(--clr-neutral-white);

        box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01),
            0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1),
            0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29),
            inset 0px 2px 3px rgba(255, 255, 255, 0.06);

        &[data-role="input"],
        &[data-value="plus-minus"],
        &[data-value="CE"],
        &[data-value="C"],
        &[data-value="percent"] {
            background-image: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.05) 0%,
                rgba(255, 255, 255, 0.05) 100%
            );
            background-color: var(--clr-neutral-dark-purple);
        }

        &[data-value="equals"] {
            background-image: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.15) 0%,
                rgba(255, 255, 255, 0.05) 100%
            );
            background-color: #7f45e2;
        }

        &[data-value="plus"],
        &[data-value="minus"],
        &[data-value="times"],
        &[data-value="divide"] {
            background-image: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.05) 0.01%,
                rgba(255, 255, 255, 0.05) 100%
            );
            background-color: #462878;
        }

        &[data-value="CE"] {
            color: var(--clr-primary-purple);
        }
    }

    @each $button in var.$keyboard-buttons {
        button[data-value="#{$button}"] {
            grid-area: #{$button};
        }
    }
}
