@charset 'UTF-8';

$clr-background: hsl(0, 0%, 17%);
$clr-app-background: hsl(241, 45%, 65%);
$clr-primary-calculator-bg: hsl(254, 13%, 19%);
$clr-neutral-dark-gray: hsl(0, 0%, 42%);
$clr-neutral-white: hsl(0, 0%, 92%);
$clr-neutral-dark-purple: hsl(254, 13%, 19%);
$clr-primary-purple: hsl(262, 94%, 67%);


$keyboard-buttons: "CE", "C", "percent", "divide", "seven", "eight", "nine", "times",
    "four", "five", "six", "minus", "one", "two", "three", "plus", "plus-minus", "zero",
    "comma", "equals";
